.image-size{
    height: 300px;
    width: 400px;
}

#fixedoffsetbutton{
    margin-left: 50px;
    margin-right: 50px;
    position: fixed;
    bottom: 4%;
    right: 42%; 
}

#fixedoffsetbutton > * {
    display : inline;
}

#fixedoffsetbutton h3{
    padding : 5px 20px;
    margin : 0px 5px;
    background-color: white;
}

.zoom{
    height: 60%;
    width: 60%;
}

#fixedcancelbutton{
    margin-left: 50px;
    margin-right: 50px;
    position: fixed;
    bottom: 4.5%;
    right: 35%;
}